h1 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 300;
}

#form {
    display: flex;
    flex-direction: column;
}

.inputs {
    padding-top: 3vh;
    display: flex;
    width: 95%;
    align-items: inherit;
}

.add {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.text.error {
	border: 1px solid red;
	border-radius: 4px;
}

#err {
    margin-top: 3vh;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 20, 20);
    opacity: 0.7;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;
}

#tosend {
    padding-top: 3vh;
    width: 100%;
    overflow: auto;
}

.submit {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#check {
    display: flex;
    flex-direction: initial;
    align-items: center;
}
.check {
    border-radius: 4px;
    background-color: #373A40;
    border: 1px solid #373A40;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;
    margin-left: 0;
}



.button {
    justify-content: center;
    background-color: rgb(0, 0, 0);
    opacity: 0.85;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    min-height: 2vh;
    height: 2.8vh;
    align-self: flex-end;
}

.button:hover {
    opacity: 0.65;
    cursor: pointer;
}

.buttonText {
    font-size: 18px;
    color: rgb(255, 255, 255);
}




