@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);body {
  padding: 0;
  font-family: 'Nunito', sans-serif;
  margin: auto;
  display: block; }

title {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 28px; }

h1 {
  padding-top: 18px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 20px; }
